.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.ptop-15{
	padding-top: 15px;
}
.mtop-5{
	margin-top: 5px;
}

.iconsacts {
    display: table;
    width: 100%;
    height: 100%;
}


.item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.card:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.cardcoliner.serious:before {
    background: #f77c21;
}

.cardcoliner:before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px 0 0 3px;
    background: #ccc;
}

.catimg {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    height: auto;
    line-height: 26px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #6e7d95;
}

.cardsullist .catimgspan {
    margin-right: 5px;
}

.catimgspan {
    text-align: left;
    float: left;
    width: 30px;
}

.catobsspan {
    float: left;
    text-align: left;
    margin: 2px 0 0;
}

.cattexts {
    float: right;
    width: 100%;
    padding: 5px 0 0;
    position: relative;
    height: calc(100% - 25px);
}

.catsubdate {
    font-size: 13px;
    color: #3d3d3d;
    line-height: 16px;
}

.catsubdate, .catsubtext {
    margin: 0 0 8px;
}

.catsubtext, .cattype {
    font-size: 13px;
    line-height: 16px;
    color: #3d3d3d;
}

.catdesc {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 17px;
    color: #3d3d3d;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cattexts .repostsother {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.reportbyuser {
    float: left;
    width: 100%;
}

.reportbyuser p {
    font-size: 13px;
    margin-bottom: 0;
    color: hsla(0,0%,44.7%,.8);
}

.statusbar {
    float: right;
    width: 25%;
    text-align: right;
    font-size: 13px;
    color: #123773;
}

.iconsacts {
    display: table;
    width: 100%;
    height: 100%;
}

.cardsactions .actionlist {
    right: 20px;
}

.actionlist {
    position: absolute;
    visibility: hidden;
    transition: all .5s ease;
}

.cardcoliner {
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
    transition: all .3s ease;
    top: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 3px 6px 1px rgba(0,0,0,.05);
}

.actionlist .acticonedit {
    margin: 4px 10px 4px 10px;
    text-align: center;
    padding: 3px 1px;
}

.actionlist a.acticonedit {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpi/P//PwMeUADEAlD2ARY8Cg2A+AMQ98MEmHAoXADE56HsRJggIxZngBTGI/FhigUYQIqR8IL/2IED2FAiFC6AqSFaIUxxATEKYYoPEKMQpvgBMQphiv9DNWyAOokBFwYIMABRSxeOoLnobQAAAABJRU5ErkJggg==);
}

.ratingdiv .ratespan.serious {
    background-color: #f77c21;
    border: 1px solid #f77c21;
}

.ratingdiv .ratespan {
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.edit-detail {
    font-weight: 500;
    margin-right: 18px;
    margin-top: -5px;
    font-size: 18px;
    background: #2885D1;
    padding: 5px;
    border-radius: 10%;
    color: #fff;
}

.catimg a.acticonedit {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpi/P//PwMeUADEAlD2ARY8Cg2A+AMQ98MEmHAoXADE56HsRJggIxZngBTGI/FhigUYQIqR8IL/2IED2FAiFC6AqSFaIUxxATEKYYoPEKMQpvgBMQphiv9DNWyAOokBFwYIMABRSxeOoLnobQAAAABJRU5ErkJggg==);
}

.catimg a.acticon {
    float: right;
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    background-color: #2ba6e1;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 0;
    text-decoration: none;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
    margin-left: 10px;
    top: 0;
}

.catimg a.acticondelete i.faclose {
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
}

.catimg a.acticondelete {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
}

.item-card-hira .acticonedit {
    z-index: 30;
}


.cardcoliner.minor:before {
    background: #ffc700;
}

.cardcoliner.revokests:before {
    background: #ff770d;
}
.revokests_stt{
    color: #ff770d;
}

.cardcoliner.approvsts:before {
    background: #2690ca;
}
.approvsts_stt{
    color: #2690ca;
}

.cardcoliner.closests:before {
    background: #8cc051;
}
.closests_stt{
    color: #8cc051;
}

.cardcoliner.draftsts:before {
    background: #ccc;
}
.draftsts_stt{
    color: #ccc;
}

.cardcoliner.extensts:before {
    background: #ffc700;
}
.extensts_stt{
    color: #ffc700;
}

.cardcoliner.fatal:before {
    background: #e62108;
}
.fatal_stt{
    color: #e62108;
}

.ratingdiv .ratespan.fatal {
    background-color: #ce0000;
    border: 1px solid #ce0000;
}

.ratingdiv .ratespan.minor {
    background-color: #ffc700;
    border: 1px solid #ffc700;
}

.permitworkerdate {
    float: left;
    width: 100%;
    color: #727272;
    font-size: 12px;
    margin-bottom: 10px;
}

.permitdateset {
    float: left;
    width: 150px;
}

.permitcardtime {
    display: block;
    color: #3d3d3d;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0 0;
    padding-top: 2px;
}

.permitcarddate {
    display: block;
}

.hoursdate {
    float: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAM1BMVEUAAACYmJmXl5eXl5mZmZmfn5+YmJiZmZmYmJiYmJiXl5mXl5eYmJmYmJiXl5mampqYmJlzsc/FAAAAEHRSTlMA8ECgcBDQULCf4GCA38AwZQ+YtgAAAHpJREFUGNNlUFsOwzAMwnXeTTruf9qpxJo61T9GBAUw7smpGa2ljJhqHD590OomEsshcBSeUtDvJeysQLaid0pXLCMJitFKuAYeDEaD+R/jBk6hD7v2pDTbpofmWnhSo22voE55RR6FzMqDGn9G5levX/fVZ1/R/XWfL26+BCN793suAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    width: 28px;
    height: 43px;
    text-align: center;
    background-size: 15px;
}

.hoursdate span {
    position: relative;
    top: 26px;
    left: -2px;
}

.permitsite {
    font-size: 13px;
    color: #727272;
    line-height: 21px;
    margin: 0 0 10px;
    font-weight: 700;
    clear: both;
}

.permitrevoke {
    margin-bottom: 10px;
}

p.obsreporton {
    margin: 0 0 5px;
    color: hsla(0,0%,44.7%,.8);
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
}

.permits-cards .reportbyuser {
    position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
    padding: 0 20px;
}

.reportbyuser p {
    font-size: 13px;
    margin-bottom: 0;
    color: hsla(0,0%,44.7%,.8);
}

.reportbyuser span.statuspan {
    float: left;
    text-transform: capitalize;
    font-weight: 500;
}

span.requestStyle {
    color: #1f6faa;
}

span.previewspan {
    float: right;
    color: #666;
}

.permitscardview .catimg, .permitscardview .cattexts {
    width: 100%;
    height: auto;
}
.cardworkertag {
    width: 100%;
    float: left;
    text-align: left;
    margin: 0px 0 0;
}

.catdesc {
    color: #727272;
    font-weight: 400;
    padding-top: 7px;
}

.permitcarduser {
    float: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABHNCSVQICAgIfAhkiAAAAPVJREFUKJGVkCFPxEAQhd9rIZeCQNx/uD9QxUmqERg0vmrLD9maDf/h7J3GVtSc5WyxtVzSTWYQtMlur4Tw3My8b15miJmMMY+q+kDyBkA3DMPOOXcKPWlYVFVVAHgieT227tI03eZ53rRte558HLdnqvoCYDMmRCL5ISLvdV0fASAJBp9LAACIyK33/itKCu55BbBZ4A7W2v1UJOFEVfulJFXtwjqCvPd7zESyn25ZhJxzvao2YU9EdvNFEWSMyQBkkSFJ1hfpAFCW5Xq1Wt2LyJbkpenn5Q3Jo7X2TGPMM4BibvxNqvqW/AcYU4srAKc/nbG6byDIWysniD7GAAAAAElFTkSuQmCC);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 15px 8px;
    padding: 0 0 0 35px;
    line-height: 18px;
    font-weight: 500;
    padding-top: 7px;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 7px 12px !important;
    font-size: 13px !important;
    line-height: 1.333333 !important;
}
.cardlabel.cardlabelsmal{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.permitsite {
    height: 19px;
    width: 100%;
}

.filter-by-date-under{
    margin-top: 10px;
}

.pad_right0{
    padding-right: 0px;
}