<style type="text/css">
  .pad_div_0{
    padding-left: 0px
  }
  .p_style{
    margin-top: 0px; 
    color: #d81b60;
  }
  .hr_style{
    margin-top: 10px; 
    border: 0.5px solid; 
    color: #d81b60
  }
  .td_style{
    margin-bottom:25px;
  }

  .mtop0{
    margin-top: 0px;
  }
  table.table{
    margin-top: 10px;
  }

.table{
        width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.pright0{
  padding-right: 0px;
}

</style>