
  .p_style{
    margin-top: 0px; 

  }
  .hr_style{
    margin-top: 10px; 
  }
  .mtop0{
    margin-top: 0px;
  }
  table.table{
    margin-top: 10px;
  }

.table{
        width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.pright0{
  padding-right: 0px;
}
