@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Metropolis-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Metropolis Regular'), local('Metropolis-Regular'), url('../fonts/Metropolis-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Metropolis-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Metropolis-Regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

.customers-nav-item-knowledge-base::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f059";
    position: absolute;
    top: 4px;
}

.customers-nav-item-schedule-appointment-id::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f274";
    position: absolute;
    top: -10px;
}

.customers-nav-item-register::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f234";
    position: absolute;
    top: -10px;
}

.customers-nav-item-login::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f2bd";
    position: absolute;
    top: -10px;
}

.customers-nav-item-subscriptions::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0e2";
    position: absolute;
    top: -10px;
}

.customers-nav-item-knowledge-base {
    margin-top: 8px !important;
}

.customers-nav-item-schedule-appointment-logged-in-id::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f274";
    position: absolute;
    top: -10px;
}

.customers-nav-item-projects::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0ae";
    position: absolute;
    top: -10px;
}

.customers-nav-item-invoices::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f15c";
    position: absolute;
    top: -10px;
}

.customers-nav-item-contracts::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0c0";
    position: absolute;
    top: -10px;
    left: -2px;
}

.customers-nav-item-estimates::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0ea";
    position: absolute;
    top: -10px;
}

.customers-nav-item-proposals::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f1c4";
    position: absolute;
    top: -10px;
}

.customers-nav-item-support::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f025";
    position: absolute;
    top: -10px;
}

.customers-nav-item-gdpr::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f13e";
    position: absolute;
    top: -10px;
}

.progress-bar-danger {
    background-color: #fd5262;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background-color: #24344d;
    border: 1px;
    border-color: #344561;
}

.pagination>li>a {
    color: #ffffff;
}

.pagination>li>a:hover {
    color: #ffffff;
}

.table .alert-info {
    color: #ffffff;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: #2c405f;
}

body.customers .list-status,
body.customers .list-status a {
    background: #273750 !important;
    border: #344561 !important;
}

body .col-md-2 {
    width: 19.666667%;
}

body.customers .nav-tabs>li.active>a,
body.customers .nav-tabs>li.active>a:focus,
body.customers .nav-tabs>li.active>a:hover,
body.customers .nav-tabs>li>a:focus,
body.customers .nav-tabs>li>a:hover {
    border-color: rgb(44, 114, 243);
}

body.customers .nav-tabs>li.active>a,
body.customers .nav-tabs>li.active>a:focus,
body.customers .nav-tabs>li.active>a:hover,
body.customers .nav-tabs>li>a:focus,
body.customers .nav-tabs>li>a:hover {
    color: rgb(44, 114, 243);
}

body.customers .panel-body ul li>a:hover,
body.customers .panel-body ul li>a:focus {
    outline: unset;
    color: rgb(44, 114, 243);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

body.customers .nav-tabs>li>a {
    padding: 12px 13px 12px 12px;
}

body .btn-default {
    color: #415164;
    background-color: #33445f;
    border-color: #415164;
}

body .btn.btn-default:active,
body .btn.btn-default:focus,
body .btn.btn-default:hover {
    background-color: #3674c3;
    color: #fff !important;
}

.panel-heading {
    background: #24344d !important;
    border: 1px solid #344561 !important;
}

.panel_s,
.panel-body {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.panel_s>.panel-heading-bg.info-bg {
    background: rgb(44, 114, 243) !important;
    border: 1px solid rgb(44, 114, 243) !important;
}

body .profile .text-muted {
    color: rgba(225, 235, 245, .90) !important;
}

body.customers .panel_s .panel-body,
body.customers .panel_s {
    background: #24344D;
    border: none;
    border-bottom: 1px solid #24344D;
}

body {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    background-color: #192231 !important;
    background: #192231 !important;
}

body .navbar.navbar-default.header {
    background: #131c28;
    color: #fff;
}

body.viewinvoice *:not(.s-status) {
    color: rgba(225, 235, 245, .90) !important;
}

body.customers table tr td.description span {
    color: #fff !important;
}

body.customers address b,
body.customers table tr td.description span strong,
body.customers address b,
body.customers p:not([class^="text-"]),
body.customers .subtotal,
body.customers .total {
    color: #9e9e9e !important;
}

body.customers h4,
body.customers .bold {
    color: #fff !important;
}

body th {
    background: #192231 !important;
    color: #fff !important;
}

.text-dark {
    color: rgba(225, 235, 245, .90);
}

li a i.menu-icon {
    margin-right: 16px;
    display: block;
    float: left;
    width: 18px;
    font-size: 18px;
}

body #wrapper th::after {
    color: #b7b0b0;
}

body #wrapper th {
    background: #e2e2e2;
    color: #3c3939 !important;
}

.dropzone .dz-message {
    color: #ffffff;
}

#dropzoneDragArea,
.dropzoneDragArea {
    background-color: #24344d;
    border: 1px dashed #344561;
    border-radius: 4px;
    padding: 60px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.dataTables_empty {
    background: url(images/table-no-data.png) center center / auto 161px no-repeat;
}

.admin_light_theme_initiated table.dataTable thead tr>th,
.table.dataTable>thead:first-child>tr:first-child>th {
    color: #4e75ad;
}

body.customers #wrapper table>thead>tr>th {
    background: #273750 !important;
    color: #cdd7e1 !important;
    border: none;
    border-top: 1px solid #344561 !important;
    border-bottom: 1px solid #344561 !important;
}

body.customers .border-right {
    border-right: 1px solid #dcdfe2 !important;
}

body.customers hr {
    border-top: 1px solid #344561 !important;
}

body.customers .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #24344d;
}

body .table.items .main {
    background-color: #24344d !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #344561;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #344561;
}

.table.items .bootstrap-select .btn-default,
.table.items input:not(.input-transparent),
.table .input-group input,
.table input,
.table.items textarea {
    background: #24344d !important;
    border-color: #344561 !important;
    color: #fff !important;
}

.table.items input:not(.input-transparent):focus,
.table.items textarea:focus {
    border-color: #384c6d !important;
}

.input-group-addon {
    border: 1px solid #24344d;
    background-color: #24344d;
    color: #97a8be;
}

body select,
body .filter-option,
body .filter-option-inner,
body .filter-option-inner-inner {
    border-color: #344561 !important;
}

body .control-label,
body label {
    font-weight: 400;
    font-size: 13px;
    color: #fefefe;
}

body .btn.dropdown-toggle {
    background: #24344d !important;
    border-color: #344561 !important;
}

body .alert button.close,
button.close {
    color: #000000 !important;
    text-shadow: 0 1px 0 #000 !important;
}

body .modal-content .btn.btn-default:not(.dropdown-toggle) {
    color: #fff !important;
}

body table td span.pull-left {
    margin-top: 3px;
}

body .dz-image {
    background: #ffffff;
}

.nav-tabs {
    border-top: 1px solid #344561;
    border-bottom: 1px solid #344561;
}

.panel_s>.panel-footer {
    background: #24344d;
    border: 1px solid #24344d;
}

body .modal-content #newsfeed .newsfeed_post .user-post-like,
body .modal-content .panel-footer.user-comment,
body .modal-content .panel-footer .no-margin,
body .modal-content .comment-content {
    background: transparent !important;
}

.modal-content select,
.modal-content .filter-option,
.modal-content .filter-option-inner,
.modal-content .btn.dropdown-toggle,
.modal-content .filter-option-inner-inner {
    background: #fff !important;
}

.modal-content input:focus {
    border-color: #becad8 !important;
}

.modal-content .tagit-autocomplete.ui-widget-content,
.modal-content ul.tagit-autocomplete .ui-menu-item-wrapper.ui-state-active,
.modal-content ul.tagit-autocomplete .ui-menu-item-wrapper:focus,
.modal-content ul.tagit-autocomplete .ui-menu-item-wrapper:hover {
    background: #fff !important;
}

.bootstrap-select.task-action-select .btn-default,
.bootstrap-select.task-action-select.btn-default.active,
.bootstrap-select.task-action-select.btn-default:active,
.bootstrap-select.task-action-select.open>.dropdown-toggle.btn-default,
.bootstrap-select.task-action-select>.btn-default:hover {
    background-color: #fff !important;
    background: #fff !important;
    color: #777 !important;
}

.modal-content .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    padding-left: 10px;
}

.modal-content .btn.dropdown-toggle {
    background: #fff !important;
    border: 1px solid #bfcbd9 !important;
}

.modal-content .text-muted {
    color: #777 !important;
}

.modal-content a,
.modal-content .btn-info {
    color: #fff !important;
}

.modal-content span:not([class^="mce-"]):not([class^="rel_"]),
.modal-content a:not(.btn-success):not(.btn-danger):not(.btn-info):not(.btn-default):not(.btn-primary) {
    color: rgb(44, 114, 243) !important;
}

.modal-content textarea,
.modal-content #dropzoneDragArea,
.modal-content .dropzoneDragArea {
    border-color: #becad8 !important;
    background-color: #fff !important;
    color: #333 !important;
}

.modal-content .bootstrap-select .status {
    color: #fff !important;
}

.modal-content hr {
    border-color: #becad8 !important;
}

.modal-content a.btn-info {
    color: #FFF !important;
}

.modal-content .text-dark {
    color: #464646 !important;
}

#invoice-preview .table-responsive span {
    color: #fff !important;
}

body #wrapper .modal-content input,
body #wrapper .modal-content textarea,
body #wrapper .modal-content .btn.dropdown-toggle.btn-default {
    border: 1px solid #bfcbd9 !important;
    background: #FFF !important;
    color: #555 !important;
}

.modal-content .modal-header {
    background: #33445f;
    background: -webkit-gradient(linear, left top, left bottom, from(#33445f), to(#24344D));
    background: linear-gradient(to left, #33445f 0%, #24344D 50%);
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.modal-content .modal-title .edit-title,
.modal-content .modal-title,
.modal-content .modal-title .add-title {
    color: #fff !important;
}

.modal-content div,
.modal-content label {
    color: #333 !important;
}

.modal-header .close {
    color: #ffffff;
}

.modal-dialog button.close[data-dismiss="modal"] span {
    position: absolute;
    right: 27px;
    top: 19px;
    font-size: 19px;
}

.modal-content .input-group label {
    color: #fff !important;
}

body #wrapper .top_stats_wrapper {
    background: #24344D;
    border: none;
}

.widget-dragger {
    color: #8a8a8a;
}

body.customers .form-group input {
    background: #243148 !important;
    border-color: #344561 !important;
}

.dropzone .dz-message {
    color: #ffffff;
}

.text-muted {
    color: #cdd7e1 !important;
}

.text-danger {
    color: #fd5262;
}

body .navbar-default .navbar-nav>li.customers-nav-item-login>a {
    color: rgba(225, 235, 245, .90) !important;
}

body .navbar-default .navbar-nav>li.customers-nav-item-login>a,
body .navbar-default .navbar-nav>li.customers-nav-item-login>a:hover {
    background: transparent !important;
}

body .dropdown-menu {
    background-color: #24344d;
    border: 1px solid #ccc;
    border: 1px solid rgb(52, 69, 97);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:visited {
    background: #33445f;
}

body .dropdown-menu>li>a {
    padding: 10px !important;
}

body .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    outline: 0 !important;
    color: #ffffff !important;
}

body #wrapper ul .divider {
    margin: 0;
}

body #wrapper ul .divider {
    border: 1px solid #344561 !important;
}

body .btn-group.open .dropdown-toggle {
    border: 1px solid #344561 !important;
}

body #wrapper li.active a {
    background: #24344d;
}

body.customers .submenu li a:active,
body.customers .submenu li a:focus,
body.customers .navbar li a:hover,
body.customers li a:hover {
    color: #fff !important;
    background: transparent;
}

body.customers input:focus,
body.customers textarea:not(.clients_textarea):focus {
    border: 1px solid #354f79 !important;
}

body textarea.clients_textarea {
    color: #333 !important;
}

body textarea:not(.clients_textarea) {
    background: #24344d !important;
    border-color: #344561 !important;
    color: #fff !important;
}

body #wrapper ul.dropdown-menu {
    background: #24344d;
}

.dropdown-menu>.active>a:hover {
    background: #ffffff;
}

form.dropzone {
    background-color: #24344d;
    border: 1px dashed #344561;
    border-radius: 4px;
    padding: 60px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

body #wrapper .input-group-addon,
body #wrapper .input-group input {
    color: #d8d3d3 !important;
    border-color: #344561;
}

body .fa.fa-search {
    color: #fff !important;
}

body.customers .tab-separator {
    border-color: #344561 !important;
}

body.customers #invoice_top_info .panel-body {
    background: #24344d;
    border: 1px solid #24344d;
}

body.customers .table-loading {
    background: none !important;
}

body.customers a,
body.customers button,
body.customers div:not(.float-alert) {
    font-family: inherit;
    color: rgba(225, 235, 245, .90) !important;
}

body.customers li a i.menu-icon {
    margin-right: 16px;
    display: block;
    float: left;
    width: 18px;
    font-size: 18px;
}

body.customers .footer {
    display: none;
}

body.customers ul.submenu a {
    font-size: 16px !important;
}

body.customers .kb-search-jumbotron {
    background: #192231;
}

body.customers input {
    color: #fff !important;
}

body.customers a,
body.customers input,
body.customers button,
body.customers select,
body.customers textarea,
body.customers option,
body.customers div {
    font-family: inherit;
}

body .navbar.navbar-default.header .container {
    position: fixed;
    float: left;
    height: 100vh;
    width: 230px;
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
    width: 131px;
    background: transparent;
    margin-right: 77px;
}

body .customers-nav-item-knowledge-base a {
    margin-top: 15px;
}

body .navbar-nav>li {
    margin-top: 30px;
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a {
    color: rgba(225, 235, 245, .90);
    margin-bottom: 66px;
    padding: 0;
    margin-left: 30px;
}

#wrapper {
    min-height: 100%;
    margin-left: 240px;
    position: relative;
}

body #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
    margin-bottom: -50px;
    width: 230px;
}

body .submenu.customer-top-submenu {
    margin-top: 25px;
    margin-right: 60px;
}

body .dropdown.customers-nav-item-profile {
    position: absolute;
    left: 127px;
    top: -15px;
}

body .client-profile-image-small {
    margin-left: -2px;
}

body .navbar-default .navbar-nav>li>a {
    line-height: 0px;
    font-size: 15px;
}

body.customers_login .navbar-nav li.customers-nav-item-login a {
    padding: 8px 10px;
}

body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn a {
    margin-left: 0px !important;
}

body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn {
    position: absolute;
    left: 46px;
    top: 47px;
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a:hover {
    color: rgb(44, 114, 243);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    width: 230px;
    margin-left: -15px;
}

.customers .navbar-default {
    z-index: 10;
    width: 230px;
    position: fixed;
    background-color: #fff;
    height: 100vh;
}

.navbar a.navbar-brand img {
    margin-left: 15px;
}

body.customers .progress .progress-bar {
    color: #2d2d2d !important;
}

body .progress {
    width: 100%;
    height: 30px;
}

body .progress-bar {
    height: 100%;
    font-size: 15px;
    line-height: 30px;
}

body.customers .dataTables_empty {
    background: url(../images/table-no-data.png) center center / auto 161px no-repeat;
}

body.customers table.dataTable thead tr>th,
body.customers table.dataTable>thead:first-child>tr:first-child>th {
    color: #333333;
}

body.customers table>thead>tr>th {
    background: #e2e2e2;
}

body.customers .pagination>.active>a {
    background: #24344d;
    border-color: #344561;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

body.customers .table .alert-info {
    color: rgb(44, 114, 243);
}

body.customers .pagination>.active>a:focus,
body.customers .pagination>.active>a:hover,
body.customers .pagination>.active>span,
body.customers .pagination>.active>span:focus,
body.customers .pagination>.active>span:hover {
    color: #fff;
    background-color: #283850;
}

body.customers select.form-control {
    color: rgba(225, 235, 245, .90) !important;
    background-color: #24344d !important;
}

body .dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:active {
    background-color: rgb(44, 114, 243) !important;
    color: #ffffff !important;
}

@media (max-width:1430px) {
    .panel_s {
        width: 80%;
    }
    .submenu.customer-top-submenu {
        float: left;
        margin-left: 2px;
    }
}

@media (max-width:990px) {
    body .col-md-2 {
        width: 100%;
    }
}

@media (max-width:768px) {
    body .table-responsive {
        padding: 15px 0 15px 0;
        border: 1px solid #344561;
    }
    body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn a {
        margin-left: 30px !important;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a {
        color: #333333;
        margin-bottom: -2px;
        padding: 0;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li {
        text-align: center;
        margin-bottom: 0px;
    }
    .panel_s {
        width: 100%;
    }
    #wrapper {
        margin-left: 0px;
    }
    body .navbar.navbar-default.header .container {
        position: unset;
        float: none;
        height: auto;
        width: auto;
    }
    body .navbar-default .navbar-form {
        width: auto;
        margin: 100%;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
        width: 100%;
        margin-right: 0;
    }
    body.customers .navbar-default {
        width: 100%;
        height: auto;
        margin-left: auto;
    }
    body .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: auto;
        margin-top: auto;
    }
    body .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: auto;
    }
    body .navbar-default .navbar-nav>li>a {
        position: relative;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
    }
    body #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
        margin-bottom: auto;
        width: auto;
    }
    body .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: rgb(44, 114, 243);
    }
    body .navbar-default .navbar-toggle .icon-bar {
        background-color: rgb(44, 114, 243);
    }
    body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn {
        text-align: center;
        margin-left: 7px;
        position: unset;
    }
    body .dropdown.customers-nav-item-profile {
        position: unset;
    }
    body .navbar-default .navbar-collapse {
        width: auto;
    }
    .customers-nav-item-knowledge-base::before,
    .customers-nav-item-projects::before,
    .customers-nav-item-invoices::before,
    .customers-nav-item-contracts::before,
    .customers-nav-item-estimates::before,
    .customers-nav-item-proposals::before,
    .customers-nav-item-support::before,
    .customers-nav-item-register::before,
    .customers-nav-item-login::before,
    .customers-nav-item-gdpr::before {
        display: none;
    }
    .customers-nav-item-login a {
        position: unset !important;
    }
}

input[type="radio"]:checked+label:after,
input[type="checkbox"]:checked+label:after,
.radio-primary input[type=radio]+label::after {
    background: rgb(44, 114, 243) !important;
    color: #033450;
}

input[type="checkbox"]:checked+label:after {
    width: 18px;
    height: 18px;
    padding-right: 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
}

input[type=radio]:checked+label::before {
    border-color: rgb(44, 114, 243) !important;
}

.input-group-addon .checkbox label::after {
    padding: 3px;
}

tr th:first-child input[type="checkbox"]:checked+label:after {
    background: #ffffff !important;
    color: rgb(44, 114, 243);
}

.dt-loader:not(:required) {
    background: rgb(44, 114, 243);
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    -webkit-animation: loader 1s 150ms infinite ease-out;
    animation: loader 1s 150ms infinite ease-out;
}

.dt-loader:not(:required):after,
.dt-loader:not(:required):before {
    background: rgb(44, 114, 243);
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
}

@-webkit-keyframes loader {
    0% {
        background: rgb(44, 114, 243);
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: rgb(44, 114, 243);
    }
}

@keyframes loader {
    0% {
        background: rgb(44, 114, 243);
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: rgb(44, 114, 243);
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: -10px;
    margin-bottom: -19px;
}

.btn-info:focus,
.btn-info.focus,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info,
.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-color: rgb(44, 114, 243) !important;
    color: #fff !important;
    border: 1px solid rgb(44, 114, 243) !important;
}

.bootstrap-select.task-action-select .btn-default,
.bootstrap-select.task-action-select.btn-default.active,
.bootstrap-select.task-action-select.btn-default:active,
.bootstrap-select.task-action-select.open>.dropdown-toggle.btn-default,
.bootstrap-select.task-action-select>.btn-default:hover {
    background-color: #fff !important;
    background: #fff !important;
    color: #777 !important;
}

.btn-info {
    background-color: rgb(44, 114, 243) !important;
    border-color: rgb(44, 114, 243) !important;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: rgb(44, 114, 243) !important;
    color: #fff !important;
    border-color: rgb(44, 114, 243) !important;
}

.btn-success {
    background-color: #07cc04 !important;
}

.success-bg {
    background: #07cc04 !important;
    color: #fff !important;
    border: 1px solid #07cc04 !important;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-color: #00a200;
    color: #fff;
    border-color: #00a200
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #41ff3d !important;
    color: #fff !important;
    border-color: #41ff3d !important;
}

body textarea:not(.clients_textarea),
body input:not([class^="task-"]):not([class^="ui-"]):not([class^="form-"]) {
    background: #33445f !important;
    border-color: #344561 !important;
    color: rgba(225, 235, 245, .90) !important;
}

body.customers .dropdown .btn {
    border: 1px solid #344561 !important;
}

body.customers .btn {
    font-size: 14px !important;
    border: 0px !important;
}

body.customers .btn-success {
    border-color: #07cc04 !important;
}

body ul.nav.navbar-nav.navbar-right .dropdown-menu.animated.fadeIn li a {
    margin-bottom: -7px !important;
    padding: 14px !important;
}

body.customers .btn-danger {
    border: 3px solid;
    background-color: #ef4848 !important;
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger,
.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-color: #e63939 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff3232;
    color: #fff;
    border-color: #ff3232;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0.8;
}

.customers-nav-item-login a {
    top: -44px;
    position: absolute;
    width: 0;
    height: 0;
}

.btn-danger {
    border-color: #ff0000;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%
}

.waves-float {
    mask-image: none;
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

.nanobar {
    width: 100%;
    height: 0px;
    z-index: 100;
    top: 0;
    background: #fff;
}

.bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    background: rgb(44, 114, 243);
    height: 4px;
}

body.customers_login {
    background: #8e8e8e;
    background: -webkit-linear-gradient(-180deg, #8e8e8e, #5d5b5b);
    background: -o-linear-gradient(-180deg, #8e8e8e, #5d5b5b);
    background: -moz-linear-gradient(-180deg, #8e8e8e, #5d5b5b);
    background: linear-gradient(-180deg, #8e8e8e, #5d5b5b);
    min-height: 100vh;
}

body.customers_login .btn-info:hover {
    background: #2e76d2 !important;
}

body.customers_login .btn.active.focus,
body.customers_login .btn.active:focus,
body.customers_login .btn.focus,
body.customers_login .btn:active.focus,
body.customers_login .btn:active:focus,
body.customers_login .btn:focus {
    outline: 0px;
    outline-offset: 0px;
}

body.customers_login .btn {
    font-size: 16px;
}

body.customers_login .btn-success {
    margin-top: 10px !important;
    height: 40px;
}

body.customers_login .btn-info {
    height: 40px;
    border-radius: 6px !important;
    background: rgb(44, 114, 243) !important;
    outline-color: transparent;
    transition: background 700ms;
    -webkit-transition: background 700ms;
    -moz-transition: background 700ms;
    -ms-transition: background 700ms;
    -o-transition: background 700ms;
}

body.customers_login .line_toggler {
    text-align: left;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

body.customers_login form input:focus {
    outline: none;
}

body.customers_login form input {
    padding: 8px;
    border: none !important;
    padding-left: 40px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    padding-top: 6px;
    caret-color: #444;
    background-color: rgba(0, 0, 0, 0.03) !important;
}

body.customers_login .form-group a {
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 10px;
}

body.customers_login .checkbox {
    padding: 10px;
    text-align: center;
    color: #337ab7;
    font-size: 16px;
}

body.customers_login .panel-body {
    text-align: center;
}

body.customers_login .form-group:last-child {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

body.customers_login .line_toggler:before {
    content: "";
    display: inline-block;
    position: absolute;
    margin-top: -2px;
    width: 0;
    height: 2px;
    background: rgb(44, 114, 243);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

body.customers_login form input:focus+.line_toggler::before {
    width: calc(100% - 40px);
    background: rgb(44, 114, 243)
}

body.customers_login .form-group label {
    display: block;
    max-width: 100%;
    margin-bottom: -12px;
    text-align: left;
    font-weight: 500 !important;
}

body.customers_login .fa-user-circle-o:before {
    font-family: 'FontAwesome';
    content: "\f2be";
}

body.customers_login .fa-key:before {
    content: "\f084";
    font-family: 'FontAwesome';
}

body.customers_login .icon_input_focus::before {
    color: #354561 !important;
}

body.customers_login .text-uppercase.mbot20.login-heading {
    margin-top: 80px;
}

body.customers_login .login_icon::before {
    color: #808388;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

body.customers_login .login_icon {
    position: relative;
    padding-bottom: 4px;
    font-size: 20px;
    top: 32px;
    padding-left: 10px;
    float: left;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #344561;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body.customers_login input:focus {
    border: none !important;
}

body.customers .input-group-addon,
body.customers .input-group input {
    color: #7d7171 !important;
    border-color: #344561;
    background: #24344d !important;
}

body table a:hover {
    color: rgb(44, 114, 243) !important;
}

body.customers #project-file-discussion .comment-wrapper {
    background: #fefefe !important;
    border-radius: 5px !important;
}

body.customers .jquery-comments .textarea-wrapper .textarea {
    color: #333 !important;
}

body.customers .jquery-comments ul.main li.comment .name {
    color: #0081bb !important;
}

body.customers #project_file_data .project_file_discusssions_area {
    height: auto !important;
}

body.customers #project-file-discussion.jquery-comments ul.main li.comment .wrapper .content,
body.customers #project-file-discussion .action.reply,
body.customers #project-file-discussion .action.edit {
    color: #192231 !important;
}

body.customers #project_file_data .img.img-responsive {
    max-height: 273px !important;
}

body.customers .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"],
body.customers .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"] .jquery-comments ul.navigation li[data-container-name="comments"]:hover {
    color: #312f2f !important;
}

body.customers .project_file_discusssions_area .jquery-comments ul.navigation li.active,
.jquery-comments ul.navigation li:hover {
    color: #1666d0 !important;
}

body.customers #project-file-discussion .control-row .send.save,
body.customers #project-file-discussion .control-row .send.save {
    background: #23334c !important;
    color: #fdfdfd !important;
}

body.customers #wrapper .project_file_area {
    height: 100% !important;
}

body .mce-menubar .mce-menubtn button span,
body .mce-menubar .mce-caret {
    color: #fff !important;
}

body .mce-panel {
    border: 0 solid #f7f9fa !important;
    border: 0 solid #344561 !important;
    background-color: #24344d !important;
}

body .mce-btn {
    background-color: #25354e !important;
}

body .mce-btn .mce-txt {
    color: #fff5f5 !important;
}

body .mce-btn i {
    text-shadow: none !important;
}

body .mce-caret {
    border-top: 4px solid #fff !important;
}

body .mce-ico {
    color: #fff !important;
}

body .mce-menubar {
    border: 1px solid #344561 !important;
}

body .mce-menubar .mce-menubtn:hover,
body .mce-menubar .mce-menubtn.mce-active,
body .mce-menubar .mce-menubtn:focus {
    border-color: #344561 !important;
    background: #2a3f61 !important;
}

body .mce-menu {
    background: #24344d !important;
}

body .mce-menu-item .mce-ico,
body .mce-menu-item .mce-text {
    color: #fff !important;
}

body .mce-btn:hover,
body .mce-btn:focus,
body .mce-btn:active {
    color: #333 !important;
    background-color: #2a3f61 !important;
    border-color: #344561 !important;
}

body .modal-backdrop.fade.in {
    position: unset !important;
}

body.viewinvoice #wrapper,
body.viewinvoice #wrapper,
body.viewproposal #wrapper,
body.contract-view #wrapper {
    margin-left: 0px !Important;
}

body .mce-btn.mce-active,
body .mce-btn.mce-active:hover {
    background-color: #2a3f61 !important;
    border-color: #344561 !important;
}

div.mce-edit-area {
    background: #32435e !important;
}

body .pagination>li>a,
body .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #24344d;
    border: 1px solid #ddd;
}

body .pagination>.active>a,
body .pagination>.active>a:focus,
body .pagination>.active>a:hover,
body .pagination>.active>span,
body .pagination>.active>span:focus,
body .pagination>.active>span:hover {
    border-color: #dddddd;
}

body .pagination>li>a:focus,
body .pagination>li>a:hover,
body .pagination>li>span:focus,
body .pagination>li>span:hover {
    color: #1b829b;
    background-color: #304c79;
    border-color: #ddd;
}

body .modal-content .input-group input,
body .modal-content .form-group input {
    background: #fff !important;
    border-color: #becad8 !important;
    color: #333 !important;
}

body .modal-content .pagination>.active>a,
body .modal-content .pagination>.active>a:focus,
body .modal-content .pagination>.active>a:hover,
body .modal-content .pagination>.active>span,
body .modal-content .pagination>.active>span:focus,
body .modal-content .pagination>.active>span:hover {
    border-color: #334460 !important;
    background-color: #ececec !important;
}

body .modal-content .pagination>li>a {
    background-color: #ffffff !important;
}

body .modal-content .pagination>li>a:focus,
body .modal-content .pagination>li>a:hover,
body .modal-content .pagination>li>span:focus,
body .modal-content .pagination>li>span:hover {
    color: #1b829b !important;
    background-color: #f7f7f7 !important;
    border-color: #334460 !important;
}

body .modal-content .input-group-btn .btn-info:hover {
    border: 2px solid #3168b2 !important;
}

body .modal-content .input-group-btn .btn-info {
    border-color: #3168b2;
    border: 2px solid #3168b2;
}

.form-control {
    background-color: #23334c;
}

.tasks-phases ._task_wrapper {
    background: #24344d;
}

._task_wrapper.overdue-task {
    background: #fb6a6a !important;
    border-color: #fb6a6a !important;
}

.panel-footer {
    background-color: #192231;
    border-top: 1px solid #192231;
    margin-bottom: 15px;
}

.jquery-comments ul.navigation li {
    color: #131c28;
}

.jquery-comments ul.navigation li[data-sort-key="attachments"] {
    color: #2a7fee !important;
}

.jquery-comments ul.navigation li.active,
.jquery-comments ul.navigation li:hover {
    color: #fefefe;
}

.jquery-comments ul.navigation li:not([data-sort-key="attachments"]):not(li.active) {
    color: #fff;
}

body.customers .client-reply {
    background: #24344D !important;
    color: #333;
}

body.customers #wrapper #botlink,
body.customers #wrapper #toplink {
    color: #2c72f3 !important;
}

body.customers #wrapper .alert-info a,
body.customers #wrapper .alert-info {
    color: #31708f !important;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.fn-gantt .bottom,
.fn-gantt .leftPanel .desc,
.fn-gantt .rightPanel .month,
.fn-gantt .rightPanel .year,
.fn-gantt .spacer,
.fn-gantt .wd {
    background-color: #24344d;
}

.fn-gantt .leftPanel .fn-label {
    color: #ffffff;
}

body #wrapper .btn,
body #wrapper textarea:not(.chatbox):not(.client_chatbox),
body #wrapper input,
body #wrapper div.label,
body #wrapper .bootstrap-select .dropdown-menu li,
body #wrapper select {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body .modal-content select,
body .modal-content .input-group-addon,
body .modal-content .btn.btn-default-dt-options {
    color: #333;
    background-color: #fff !important;
    border: 1px solid #bfcbd9 !important;
}

body.customers #clientChat .staff_muted_text_info,
body.customers #clientChat .staff_online_text,
body.customers #clientChat .customer_admin a,
body.customers #clientChat .customer_admin p,
body.customers #clientChat .client a,
body.customers #clientChat .client p {
    color: #333 !important;
}


/* RTL */

body[dir="rtl"] #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
    margin-bottom: -50px;
    width: 200px;
}

body[dir="rtl"] #content {
    margin-right: 260px;
}

body[dir="rtl"]:not(.register):not(.customers_login) {
    margin-right: 0px;
}

body[dir="rtl"] .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn {
    left: -110px;
}

body[dir="rtl"] ul.nav li::before {
    right: -31px !important;
}

body[dir="rtl"] .staff_online_text {
    text-align: right;
}

body[dir="rtl"] .line_toggler {
    text-align: right;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    body[dir="rtl"] .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
        margin-left: 64px;
    }
    body[dir="rtl"] #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
        margin-bottom: auto;
        width: auto;
    }
    body[dir="rtl"] #content {
        margin-right: 0px;
    }
}

body[dir="rtl"] .submenu.customer-top-submenu {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (min-width: 768px) {
    body[dir="rtl"] .dropdown.customers-nav-item-profile {
        right: 166px;
    }
    body[dir="rtl"] .navbar>.container .navbar-brand,
    body[dir="rtl"] .navbar>.container-fluid .navbar-brand {
        margin-right: 0px;
    }
    body[dir="rtl"] .navbar-right {
        margin-top: 29px;
    }
    body[dir="rtl"] .submenu.customer-top-submenu {
        float: right;
        margin-left: 2px;
    }
    body[dir="rtl"] .navbar-nav>li {
        float: left !important;
    }
    body[dir="rtl"] .navbar-right .dropdown-menu-left {
        right: 93px;
        left: auto;
    }
}